<div class="container mt-4">
    <form [formGroup]="patientForm" >
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>First Name</label>
          <input type="text" class="form-control" formControlName="firstname" />
        </div>
        <div class="col-md-6 mb-3">
          <label>Last Name</label>
          <input type="text" class="form-control" formControlName="lastname" />
        </div>
        <div class="col-md-6 mb-3">
          <label>Address</label>
          <input type="text" class="form-control" formControlName="adresse" />
        </div>
        <div class="col-md-6 mb-3">
          <label>City</label>
          <input type="text" class="form-control" formControlName="ville" />
        </div>
        <div class="col-md-6 mb-3">
          <label>Postal Code</label>
          <input type="text" class="form-control" formControlName="codePostal" />
        </div>
        <div class="col-md-6 mb-3">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email" />
        </div>
        <div class="col-md-6 mb-3">
          <label>Sexe</label>
          <input type="text" class="form-control" formControlName="sexe" />
        </div>
      
        
        <div class="col-md-6 mb-3">
          <label>Contact</label>
          <input type="text" class="form-control" formControlName="contact" />
        </div>
        <div class="col-md-6 mb-3">
          <label>date of birth </label>
          <input type="date" class="form-control" formControlName="date" />
        </div>
        
      
      </div>
  
      <button type="submit" class="btn btn-primary"
       (click)="onSubmit()" 
       [disabled]="patientForm.invalid"
       >
        Save
      </button>
    </form>
  </div>