<div class="container">
  <div class="table-wrapper">
      <div class="table-title">
          <div class="row p-3">
              <div class="col-sm-6">
                  <h2>Management of <b>patient</b></h2>
              </div>
              <div class="col-sm-6 d-flex justify-content-end">
                  <p-button label="Ajouter" icon="pi pi-plus"   [routerLink]="'/backoffice/details-patient/null'" />
              </div>
          </div>
      </div>

      <p-table
          #dt1
          [value]="patientList"
          dataKey="id"
          [rows]="10"
          [loading]="loading"
          [rowHover]="true"
          [showGridlines]="true"
          [paginator]="true"
          [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
          responsiveLayout="scroll"
      >
          <ng-template #caption>
              <div class="flex justify-between items-center flex-column sm:flex-row">
                  <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                  <p-iconfield iconPosition="left" class="ml-auto">
                      <p-inputicon>
                          <i class="pi pi-search"></i>
                      </p-inputicon>
                      <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Search keyword" />
                  </p-iconfield>
              </div>
          </ng-template>
          <ng-template #header>
              <tr>
                <th scope="col">id</th>
                <th scope="col">lastName</th>
                <th scope="col">firstName</th>
                <th scope="col">adress</th>
                <th scope="col">contact</th>
                <th scope="col">codePostal</th>
                <th scope="col">twon</th>
                <th scope="col">sexe</th>
                <th scope="col">email</th>
                <th scope="col">date of birth</th>
                <th scope="col">date</th>
                <th scope="col">status</th>
                
                <th scope="col">action</th>
                <tr>
                    <th></th>
                    <th> <p-columnFilter
                        type="text"
                        field="lastname"
                        placeholder="Search by lastname"
                        ariaLabel="Filter Name"
                    ></p-columnFilter></th>
                    <th> <p-columnFilter
                        type="text"
                        field="firstname"
                        placeholder="Search by firstname"
                        ariaLabel="Filter Name"
                    ></p-columnFilter></th>
                    
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <p-columnFilter
                            type="text"
                            field="sexe"
                            placeholder="Search by sexe"
                            ariaLabel="Filter Name"
                        ></p-columnFilter>
                    </th>
                   
                    <th></th>
                    <th></th>
                    <th></th>
                  
                    <th>
                        <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                            <ng-template #filter let-value let-filter="filterCallback">
                                <p-select
                                    [(ngModel)]="statusValue"
                                    [options]="statuses"
                                    (onChange)="filter($event.value)"
                                    placeholder="Select One"
                                    [showClear]="true"
                                    appendTo="body"
                                    [style]="{'min-width': '12rem'}"
                                >
                                    <ng-template let-option #item>
                                        <p-tag [value]="option?.value? 'active' : 'desactiver'"
                                        [severity]="option?.value ? 'success' : 'danger'" 
                                        styleClass="dark:!bg-surface-900" />
                                    </ng-template>
                                </p-select>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th></th>
    
                  </tr>
              
          </ng-template>
          <ng-template #body let-patient>
              <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.lastname }}</td>
                <td>{{ patient.firstname }}</td>
                <td>{{ patient.adresse }}</td>
                <td>{{ patient.contact }}</td>
                <td>{{ patient.codePostal }}</td>
                <td>{{ patient.ville }}</td>
                <td>{{ patient.sexe }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.dateNaissance }}</td>
            
                <td>{{ patient.createdAt | date}}</td>
                  <td>
                      <p-tag [value]="patient.status ? 'active' : 'desactiver'"
                 [severity]="patient.status ? 'success' : 'danger'" 
                 styleClass="dark:!bg-surface-900" />
                  </td>
                  <td style="width: 200px">
                    <p-button icon="pi pi-fw  pi-file-check" severity="info" [routerLink]="'/backoffice/rapport/' + patient.id" />
                  
                      <p-button icon="pi pi-trash" (onClick)="updatePatient(patient)" severity="danger" />
                      <p-button icon="pi pi-pen-to-square" severity="warn" [routerLink]="'/backoffice/details-patient/' + patient.id" />
                  </td>
              </tr>
          </ng-template>
          <ng-template #emptymessage>
              <tr>
                  <td colspan="8">No customers found.</td>
              </tr>
          </ng-template>
          <ng-template #loadingbody>
              <tr>
                  <td colspan="8">Loading customers data. Please wait.</td>
              </tr>
          </ng-template>
      </p-table>
  </div>
</div>
