<!-- <div class="home-container">
  <header class="hero-section">
    <div class="header-row">
      <h1>{{ welcomeMessage }}</h1>
      <button routerLink="/login" class="action-button">
        Gérer les Comptes
      </button>
    </div>
    <p class="subtitle">Votre assistant médical intelligent</p>
  </header>




  <main>
    <section class="features-section">
      <h2>Nos Services</h2>
      <div class="features-grid">
        <div class="feature-card" *ngFor="let feature of features">
          <div class="icon-container">
            <i class="material-icons">{{feature.icon}}</i>
          </div>
          <h3>{{feature.title}}</h3>
          <p>{{feature.description}}</p>
        </div>
      </div>
    </section>
  </main>
  <main>
    <section class="plans-section">
      <h2>Votre partenaire santé au quotidien</h2>
      <div class="plans-grid">
        <div class="plan-card" *ngFor="let plan of plans">
          <div class="icon-container">
            <i class="material-icons">{{plan.icon}}</i>
          </div>
          <h3>{{plan.title}}</h3>
          <p>{{plan.description}}</p>

        </div>
      </div>
    </section>
  </main>
    <main>
    <section class="santes-section">
      <h2>Votre partenaire santé au quotidien</h2> -->
<!--        
      <div class="santes-grid">
        <div class="sante-card" *ngFor="let sante of santes">
             <h3>{{sante.title}}</h3>
          

          <div class="icon-container">
            <i class="material-icons">{{sante.icon}}</i>
          </div>
         <p>{{sante.description}}</p>
        </div>
      </div>
    </section>
  </main>
</div> -->

